# aliases for .bash_profile

# easier navigation
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# ls mods
alias ls="ls -GFh"
alias ll="ls -al"

# cd, clear and such
alias cc="clear"
alias -- -="cd -"

# thanks to paul irish for these
alias chmox='chmod -x'

# colorize `cat` requires: sudo pip/easy_install -U Pygments
alias ccat='pygmentize -O style=monokai,linenos=1 -f console256 -g'

alias cask='brew cask'  
alias where=which  
alias brwe=brew  #typos
alias abd=adb #android typos

alias vi="/usr/local/bin/vim"

# dotfiles under git no more symlinks !
# https://news.ycombinator.com/item?id=11071754
# https://developer.atlassian.com/blog/2016/02/best-way-to-store-dotfiles-git-bare-repo/
alias config="/usr/local/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

# android tools
# needs proper android env configuration in .extras
alias avds="emulator -list-avds"
